

.customNav {
    position: fixed;
    width: 100%;
    background-color:black !important ;
    background-size: cover;
    z-index: 10;
  }

.customNav a {
  color: white !important;
}



.hero_section{
    height:100vh;
    background: url('../images/hero_img.jpg');
    background-size:cover;
    position:relative;
}

/*Styling over Jumbotron Section*/
.display-4 {
    font-size: 4.5rem;
}
.lead {
    font-size: 2rem !important;
}
.jumboCopy {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*About Section*/
.profileimage{
    width: 100%;
}

/*Work section*/
.card {
    /* Your existing card styles go here */
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect for scale */
}

.card:hover {
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.655); /* Adjust the shadow properties as needed */
    transform: scale(1.05); /* Add a slight scale effect on hover */
}
/*Skills Section*/
.skills-section {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    padding: 20px;
}
h2 {
    color: #007bff;
}
.list-group-item {
    border: none; /* Remove borders from list items */
}